Options -MultiViews
RewriteEngine On
RewriteBase /evcal-admin/
# Let the api/ subdirectory handle its own requests
RewriteRule ^api/ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
